
<!-- Links rápidos do GNOME e banner do GNOME Brasil-->
<div id="container">
    <div id="top"> <ul>
        <li class="home"><a href="https://www.gnome.org">Home</a>
        </li> <li> <a href="https://foundation.gnome.org">Fundação</a>
        </li> <li> <a href="https://developer.gnome.org">Desenvolvimento</a>
        </li> <li> <a href="https://www.gnome.org/support-gnome">Suporte</a>
        </li> <li> <a href="https://wiki.gnome.org/Personalization">Arte</a>
        </li> <li> <a href="https://wiki.gnome.org/Apps">Projetos</a>
        </li> <li> <a href="https://www.gnome.org/news">Notícias</a>
        </li> </ul>
    </div>
</div>
<div id="header">
  <div>
 <img src="LayoutTemplate/logo.gif" alt="GNOME BRASIL" />
  </div>
</div>

<!-- Menu de navegação do site -->

<div id="menu">
<ul>
  <li> <a href="index.html">Início</a>
  </li> <li> <a href="Gnome.html">O GNOME</a>
  <ul>
    <li> <a href="Gnome.html">O que é GNOME?</a>
    </li> <li> <a href="Historia.html">Um pouco de história</a>
    </li> <li> <a href="index.html">O que é GNOME Brasil?</a>
    </li> <li> <a href="QuemUsa.html">Quem usa?</a>
    </li> <li> <a href="Fundacao.html">A Fundação GNOME</a>
    </li></ul>
  </li> <li> <a href="Lancamentos.html">Lançamentos</a>
  </li> <li> <a href="Comunidade.html">Comunidade</a> <ul>
    <li> <a href="Eventos.html">Eventos</a>
    </li> <li> <a href="Reunioes.html">Reuniões</a>
    </li></ul>
  </li> <li> <a href="Documentacao.html">Documentação</a> <ul>
    <li> <a href="Tutoriais.html">Tutoriais</a>
    </li> <li> <a href="SuporteComunitario.html">Suporte Comunitário</a>
    </li> <li> <a href="Videos.html">Vídeos</a>
    </li> <li> <a href="Apresentacoes.html">Apresentações</a>
    </li></ul>
  </li> <li> <a href="Colabore.html">Colabore</a> <ul>
    <li> <a href="Traducao">Tradução</a>
    </li> <li> <a href="Desenvolvimento.html">Desenvolvimento</a>
    </li> <li> <a href="Jornal.html">GNOME Journal</a>
    </li> <li> <a href="MaterialDivulgacao.html">Divulgação</a>
    </li> <li> <a href="Estande.html">Estande em Eventos</a>
    </li> <li> <a href="PaginasAmigas.html">Páginas Amigas</a>
    </li></ul>
  </li> <li> <a href="Download.html">Download</a>
    </li> <li> <a href="http://planeta.br.gnome.org" target="_top">Planeta</a>
    </li> <li> <a href="https://twitter.com/gnome_br" target="_top">Twitter</a>
</li></ul>
</div>

<!-- Termina o cabeçalho e inicia o conteúdo da página-->


