<style>

body {
  margin: 0;
  padding: 0;
  /* background: #FFF url("WebCSS/bg-body.png") repeat-y right; */
  background: #FFF;
  font: 13px "DejaVu Sans Condensed", "Bistream Versa Sans", arial, sans-serif;
}

/* Top */

div#top {
  background: #2e3436 url("WebCSS/bg-top.png") repeat-x bottom;
  color: #FFF;
  overflow: hidden;
  height: 24px;
  line-height: 14px;
}
#top ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#top ul li {
  margin: 0;
  display: inline;
}
#top ul li.home a {
  float: left;
  border-left: 0;
}
#top ul li a {
  float: right;
  color: #c2c2c2;
  text-decoration: none;
  display: block;
  padding: 0.4em 0.5em;
  font-weight: bold;
  border-left: 1px solid #4e5758;
  border-right: 1px solid #4e5758;
  margin-right: -1px;
}
#top ul li a:hover {
  color: #FFF;
}

/* Header */

div#header {
  background: #418f19 url("WebCSS/bg-header.png") repeat-x top;
  height: 100px;
  overflow: hidden;
}
div#header div {
  background: url("WebCSS/bg-header-div.gif") no-repeat right top;
}
div#header div img {
  margin: 0;
  color: #FFF;
}

/* Menu */

div#menu {
  background: #4a86d5 url("WebCSS/bg-menu.png") repeat-x top;
  color: #FFF;
  height: 30px;
  padding-left: 20px;
  margin-top: -13px;
}

#menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

#menu ul li {
  margin: 0;
  display: inline;
}

#menu a {
  float: left;
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 5px 6px;
  height: 30px;
  max-height: 20px;
  line-height: 20px;
  font-weight: bold;
  border-left: 1px solid #7fa3d3;
  border-right: 1px solid #7fa3d3;
  margin-left: -1px;
  overflow: hidden;
}

#menu a:hover {
  background: #4a86d5;
}

#menu li.current a,
#menu li.current:hover {
  background-color: #FFF;
  color: #204a87;
  padding-bottom: 25px;
  margin-bottom: -25px;
  height: 40px;
  border: 0;
/*  margin-right: 1px; */
}

#menu li ul {
  display: none;
}

#menu li.current ul {
  display: block;
  position: absolute;
  top: 143px;
  left: 10px;
}
#menu li.current ul a {
  font-size: 12px;
  color: #ABC;
  border: none;
  padding: 0px 5px;
  margin: 0px 5px;
}
#menu li.current ul a:hover {
  background: none;
  color: #048;
}


/* Content Area */

#parents {
  font-size: 11px;
  color: #9AB;
  text-align: right;
  margin: 15px 0px -15px 0px;
}
#parents a {
  color: #89A;
  text-decoration: none;
}
#parents a:hover {
  color: #369;
}

#content {
  background: url("WebCSS/bg-content.png") repeat-x top;
}

#content #side-bar {
  float: right;
  width: 280px;
  background: #f0f0f0 url("WebCSS/bg-content-right.png") repeat-x top;
  overflow: hidden;
  margin-top: 0;
}
#content #side-bar-in {
  background-image: url("WebCSS/bg-content-right-bottom.png");
  background-repeat: repeat-x;
  background-position: 0% 100%;
  padding: 10px 10px 40px 10px;
}

#content #page-text {
  overflow: hidden;
  padding: 20px;
}

hr {
  background: url("WebCSS/line.png") no-repeat center;
  border: 0;
  height: 15px;
}

/* Bottom */

#rev-info {
  clear: both;
  font-size: 80%;
  text-align: right;
  color: #888a85;
  margin-right: 330px;
}
#rev-info a {
  color: #888a85;
}

#btsTWiki {
  font-size: 80%;
  text-align: right;
  margin-right: 330px;
}
#btsTWiki a {
  color: #4983c1;
  text-decoration: none;
  margin-left: 10px;
}

div#bottom {
  clear: both;
  text-align: center;
  padding: 20px;
  margin-right: 300px;
  color: #888a85;
  background: url("WebCSS/line.png") no-repeat center top;
}
#bottom a {
  color: #4983c1;
}

/* Conteúdo */



#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 {
  font-family: "Bitstream Vera Serif", Georgia, serif;
  font-weight: normal;
}

#content h1 {
  color: #555753;
}
#content h2 {
  color: #1153b3;
}
#page-text p {
  line-height: 165%;
  font-size: 14px;
  color: #2e3436;
  text-align: justify;
}
#side-bar p {
  line-height: 160%;
  color: #555753;
}
#side-bar ul, #side-bar ol {
  color: #555753;
  margin: 0;
  padding-left: 22px;
  list-style-image: url("WebConteudoCSS/list-img.png");
}
#side-bar li {
  line-height: 160%;
}

#content pre {
  border: 1px solid #AAA;
  background: #EEE;
  padding: 10px 5px 10px 12px
}

</style>
